/******************************************************************************
 *  friktata/src/css/layout.css
 */

    :root {
        --fg:       rgba(32, 220, 127, 1);
        --bg:       rgba(0, 0, 0, 1);
        --font:     "VT323", monospace;
        --font2:    "Bytesized", sans-serif;
    }

    body, * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: var(--fg);
        background-color: var(--bg);
    }

    #outer_bg,
    #outer {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        font-family: var(--font);
        font-size: 32px;
        /* user-select: none; */
        animation: __animate_flicker;
        animation-duration: .15s;
        animation-direction: forwards;
        animation-iteration-count: infinite;
    }

    #outer_bg {
        background-color: rgba(0, 0, 0, 0);
    }

    .cell {
        position: absolute;
        width: auto;
        height: auto;
        font-family: var(--font);
        color: var(--fg);
        line-height: 0.8;
        display: inline-block;
        margin: 0;
        padding: 0;
        border: none;

        text-shadow: 0 0 1px currentColor, 0 0 2px currentColor;
    }
    
    #testcell {
        top: -200%;
        left: -200%;
    }
    

    @keyframes __animate_flicker {
        0% {
            opacity: 0.99;
        }
        97% {
            opacity: 0.975;
        }
        99% {
            opacity: 0.99;
        }
    }
